@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a202c;
  font-family: "Roboto", sans-serif;
  background-color: #f0e7db;
  background-image: radial-gradient(#404040b9 0.25px, #f0e7db 1px);
  background-size: 23px 23px;
}
.dark body {
  color: #ededee;
  font-family: "Roboto", sans-serif;
  background-color: #202023;
  background-image: radial-gradient(#ababab6b 0.25px, #202023 1px);
  background-size: 23px 23px;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #ababab6b;
  border-radius: 25px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f0e7db;
  border-radius: 25px;
}
