@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
}
.dark body {
  background-color: #1a1a1a;
  color: #fafafa;
}
